body{
    margin:0;
}
a{
    color: aliceblue;
    text-decoration: none;
}

.navigation-wrapper{
    height: 190px;
    background-color:#091353 ;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    
}