body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #11122b;
  color: #cbcbcb;
  font-family: "Ubuntu Condensed", sans-serif;
  align-items: center;
  flex-direction: column;
  height: 400px;
  margin-top: -4px;
}

.skewed-header {
  position: relative;
  height: 400px;
  overflow: hidden;

}

.skewed-header>.header-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
}